page-home {

    h3{
        text-align: center;
    }

    .entrar{
        background-color:#01ab07;
        text-transform: capitalize;
    }

    .registrar{
        border-color: #4CAF50;
        color: #8BC34A;
        text-transform: capitalize;

    }
}
